.titleHeader {
    text-align: center;
    font-size: 64px;
    margin-bottom: 0px;
}

.instructText {
    font-size: 24px;
    text-align: center;
}

.headUnderline {
    height: 5px;
    width: 80%;
    margin-left: 10%;
    background-color: black;
}

.gameContent {
    display: flex;
    justify-content: center;
    gap: 10%;
}

button {
    font-size: 32px;
    min-width: 150px;
    max-height: 43px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}

button:hover {
    background-color: #4CAF50; 
    color: white;
}

.playerHeader {
    font-size: 24px;
    font-weight: bold;
}

.buttonContainer_row1 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.buttonContainer_row2 {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-bottom: 15px;
}

.compHeader {
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
}

.compThrow {
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 40%;
}

.middle {
    margin-top: 30px;
    min-width: 200px;
    min-height: 450px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

img {
    max-width: 100px;
    max-height: 100px;
}

.gameLogContainer {
    border: 5px solid black;
    margin-top: 25px;
    min-width: 150px;
    min-height: 200px;
}

.gameLogHeader {
    margin-top: 10%;
    margin-left: 15%;
    font-weight: bold;
    font-size: 20px;
}

.gameLogHeaderUL {
    width: 100%;
    margin: 0;
    margin-top: -3%;
}

.roundResult {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 19px;
}

.scoreContainer {
    display: flex;
}

.labelContainer, .scores {
    margin-left: 20%;
    font-size: 24px;
    text-align: right;
    max-width: 30px;
    font-weight: bold;
}

.wins, .winLabel {
    color: green;
}

.losses, .loseLabel {
    color: red;
}

.ties, .tieLabel {
    color: grey;
}

.roundResult {
    margin-top: 15%;
    margin-left: 0;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.finalText {
    font-size: 24px; 
    font-weight:bold;
}