.titleHeader {
    text-align: center;
    font-size: 64px;
    margin-bottom: 30px;
}

.headerContainerRow {
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 500px;
}

button {
    font-size: 32px;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.throwRow {
    display: flex;
    gap: 250px;
}

.playerThrows {
    margin-left: 40px;
}

.compThrows {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.buttonContainer_row1 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.buttonContainer_row2 {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-bottom: 15px;
}
